/* @src/components/Modal.module.css */

.darkBG {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 500px;
  height: 48px;
  background: white;
  color: white;
  border-radius: 8px;
}

.modalContent {
  padding: 15px 30px;
  font-size: 14px;
  color: black;
  /* text-align: center; */
}

/* Création de la Croix de la fermeture de la Modale */
.close {
  position: absolute;
  /* z-index: 10; */
  /* right: 15px;
  top: 15px; */
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -13px;
  margin-right: -13px;
  width: 30px;
  height: 30px;

  background-color: black;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  /* transform: scale(0.7); */
}

.close:before,
.close:after {
  position: absolute;
  top: 8px;
  left: 14px;
  content: ' ';
  height: 14px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
